name: DR2 Run Custodial Copy Tests
on:
  push:
    branches-ignore:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: '21'
      - run: |
          curl -o wizcli https://wizcli.app.wiz.io/wizcli
          chmod +x ./wizcli
          ./wizcli auth --id ${{ secrets.WIZ_CLIENT_ID }} --secret ${{ secrets.WIZ_CLIENT_SECRET }}
          sbt scalafmtCheckAll test Docker/publishLocal scanDockerImage
        env:
          MANAGEMENT_ACCOUNT_NUMBER: 1
          DOCKER_TAG: 1
